@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #0d0d0d;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
    color: #f5f5f5;
}
#kyc_policy {
    margin-top: 15px;
}
.title.title-s4 {
    padding: 60px 0px;
    font-weight: bold;
}
.section-head {
    position: relative;
}
.section-head .title-s4.title::before {
    font-size: 100px !important;
    font-weight: 700;
}
.section-head .title::before {
    position: absolute;
    left: 50%;
    top: 50%;
    content: attr(title);
    font-family: "Poppins", sans-serif;
    line-height: .9;
    text-transform: uppercase;
    white-space: nowrap;
    color: #FFF;
    transform: translate(-50%, -50%);
    opacity: 0.06;
}
.underline {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    line-height: 32px;
}
h4 {
    padding: 12px 0px;
    color: #1e4289;
}
h6 {
    font-weight: bold;
    color: #1e4289;
}

.privacy_emails {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

/* responsive */

@media screen and (max-width: 810px){
    p{
        font-size: 15px;
    }
  
    .privacy_emails {
        display: block;
        text-align: center;
    }

}
@media screen and (max-width: 568px){
    p{
        font-size: 14px;
    }
    
}